setuptools-version-command==99.9
    # via -r requirements-dist.in

# The following packages are considered to be unsafe in a requirements file:
pip==25.1.1
    # via -r requirements-dist.in
setuptools==80.9.0
    # via
    #   -r requirements-dist.in
    #   setuptools-version-command
